<!DOCTYPE html>
<html>
<head>
<style> 
body{background-color:lightgrey;}
h3{color:blue; border:1px solid black;padding: 10px;margin: 30px } 
p{}
</style>
  <title>My First HTML</title>
  <meta charset="UTF-8">
</head>
<body>
<h3>
<var>p(v)</var>=4<var>v</var><sup>2</sup>/(<var>pi</var><sup>1/2</sup>)(<var>m</var>/<var>2kT</var>)<sup>3/2</sup><var>e</var><sup>-<var>m</var><var>v</var><sup>2</sup>/<var>2kT</var></sup>
</h3>
<br>

<a href="http://physics.info/kmt/" target="_blank">
<img src="/static/Tongue.gif-c200" alt="link" style="width:51px;height:51px;border:0">
</a>
<p><i><b><small>click on the smiley to open the link </small> </b></i></p>
</body>
</html>

